body {
background-color: #27AAE1;
color: white;
}
#header{
float:center;
margin: 0px;
padding: 0px;
width: auto;
height: auto;
color: white;
background-color:#27AAE1;
}
h1,h2{
text-align: center;
}
.import{
color:#538b01;
}
.city {
float: left;
margin: 5px;
padding: 15px;
width: auto;
background-color:#27AAE1;
height: auto;
border-top:5px solid white; border-bottom: 5px solid white;
}
img{
max-width:100%;
height:auto;
float: left;
}
#footer{
float:center;
padding: 0px;
width: auto;
height: auto;
margin-top:50px;
border: 5px solid gray;
background-color:#3d7dca;
}
